:root {
  --black: #0d0d0d;
  --red: #e9522b;
  --white: #ffffff;
  --gray: #1f1f1f;
  --medium-gray: #2b2b2b;
  --light-gray: #a4a4a4;
  --light-gray: #b7b7b7;
  --max-w: 1400px;
  --blue: #007bf7;
}

html,
p,
input,
textarea,
button,
a {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--white);
  background-color: var(--black);
  margin: 0px;
  padding: 0px;
}

button,
a {
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: var(--white);
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 40px;
}

h1,
p {
  padding: 0px;
  margin: 0px;
}

.l-button {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-radius: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 600;
}
.l-gray-button {
  background-color: var(--gray);
}
.l-button:hover {
  background-color: var(--white);
  color: var(--black);
}
.l-red-button {
  background-color: var(--red);
}
.l-container {
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: var(--max-w);
}
.l-vertical-margin {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.l-small-font {
  font-size: 14px;
}
.l-medium-font {
  font-size: 18px;
}
.l-xmedium-font {
  font-size: 20px;
}
.l-large-font {
  font-weight: 600;
  font-size: 24px;
}
.l-xlarge-font {
  font-weight: 600;
  font-size: 28px;
}
.l-xxlarge-font {
  font-weight: 600;
  font-size: 32px;
}
.l-xxxlarge-font {
  font-weight: 600;
  font-size: 48px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 20px;
  }
  html,
  p,
  input,
  textarea,
  button,
  a {
    font-size: 14px;
  }
  .l-small-font {
    font-size: 13px;
  }
  .l-medium-font,
  .l-xmedium-font {
    font-size: 16px;
  }

  .l-large-font {
    font-weight: 600;
    font-size: 20px;
  }
  .l-xlarge-font {
    font-weight: 600;
    font-size: 24px;
  }
  .l-xxlarge-font {
    font-weight: 600;
    font-size: 30px;
  }
  .l-xxxlarge-font {
    font-weight: 600;
    font-size: 40px;
  }
}
